@font-face {
    font-family: ComputerModern;
    src: url('fonts/cmunss.ttf') format('woff2');
}
@font-face {
    font-family: ComputerModern;
    src: url('fonts/cmunsx.ttf') format('woff2');
              font-weight: bold;
            }
@font-face {
    font-family: ComputerModern;
    src: url('fonts/cmunsi.ttf') format('woff2');
    font-style: italic;
}
.wrapper {
  width: 700px;
  margin: auto;
}
body {
  font-family: 'ComputerModern';
}
p {
text-indent:20px;
text-align: justify;
margin:0;
line-height: 1.2;
}

p.first {
  text-indent:0px;
}


